<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.bxl.service.phonegap"
    version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0" >

    <name>
BXL SDK for Android_UPOS Compliant
    </name>

    <description>
BXL SDK for Android_UPOS Compliant Plugin
    </description>

    <author>
BIXOLON
    </author>

    <keywords>
BIXOLON,BXL
    </keywords>

    <license>
Apache 2.0 License
    </license>

    <js-module
        name="bxl_service"
        src="www/bxl_service.js" >

        <clobbers target="bxl_service" />
    </js-module>

    <platform name="android" >
    	
    	<config-file target="res/xml/config.xml" parent="/*">
            <feature name="BXLService" >
                <param name="android-package" value="com.bxl.service.phonegap.BXLService"/>
            </feature>
        </config-file>

        <source-file
            src="src/android/BXLService.java"
            target-dir="src/com/bxl/service/phonegap" />

        <lib-file
            arch="device"
            src="libs/bixolon_printer.jar" />

        <lib-file
            arch="device"
            src="libs/jpos114-controls.jar" />

        <lib-file
            arch="device"
            src="libs/xerces.jar" />
    </platform>

</plugin>